.background_bg{
    -fx-background-image: url("background/2.jpg");
    -fx-background-size: 100% 100%;
}
.label{
    -fx-text-fill: black;
    -fx-font-family: "Dast Nevis";
    -fx-font-size: 65;
    -fx-background-color: transparent;
    -fx-background-opacity: 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-radius: 24px;
    -fx-border-radius: 24px;
    -fx-padding: 50 50 50 50;
}

.label:hover{
    -fx-background-color: rgba(50, 200, 200, 0.6);
}

#label_matin_ghanbari{
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Semilight";
    -fx-background-color: transparent;
    -fx-font-size: 30;
    -fx-background-color: transparent;
    -fx-background-opacity: 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10px;
    -fx-padding: 5 10 5 10;
}

#label_matin_ghanbari:hover{
    -fx-text-fill: black;
    -fx-background-color: rgba(223, 122, 186, 0.5);
}


.button{
    -fx-text-fill: black;
    -fx-font-family: "Dast Nevis";
    -fx-font-size: 65;
    -fx-background-color: rgba(120, 120, 120, 0.6);
    -fx-background-opacity: 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-radius: 24px;
    -fx-border-radius: 24px;
}

.button:hover{
    -fx-background-color: rgba(50, 200, 200, 0.7);
    -fx-cursor: "Hand";
}

#btn_rect{
    -fx-background-color: rgba(120, 120, 120, 0.5);
}

#btn_rect:hover{
    -fx-background-color: gold;
    -fx-background-opacity: 0.5;
}

#label_rect{
    -fx-padding: 50px 50px 50px 50px;
}

#label_rect:hover{
    -fx-background-color: rgba(120, 120, 120, 0.2);
}